# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
EngineUPC/FrameworkUPC/Debug/
EngineUPC/MainApp/Debug/
*.opendb
*.db
/EngineUPC/FrameworkUPC/x64/Debug
/EngineUPC/.vs/EngineUPC/v15
